.u-section-1 .u-sheet-1 {
    min-height: 1044px;
  }
  
  .u-section-1 .u-text-1 {
    font-size: 7.5rem;
    text-transform: none;
    font-weight: 700;
    font-family: Bungee Outline;
    margin: 171px auto 0;
  }
  
  .u-section-1 .u-text-2 {
    font-size: 4.375rem;
    font-family: Bungee Outline;
    margin: 33px auto 0;
  }
  
  .u-section-1 .u-text-3 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: Bungee;
    margin: 18px 15px 0;
  }
  
  .u-section-1 .u-text-4 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: Bungee;
    margin: 18px 15px 0;
  }
  
  .u-section-1 .u-list-1 {
    margin-top: 120px;
    margin-bottom: 112px;
  }
    .u-section-1 .u-repeater-1 {
    grid-template-columns: 33.3333% 33.3333% 33.3333%;
    grid-gap: 0px 0px;
    grid-auto-columns: 33.3333%;
  }  
  
  .u-section-1 .u-container-layout-1 {
    padding: 30px 1px;
  }
  
  .u-section-1 .u-container-layout-2 {
    padding: 30px 1px;
  }
  
  .u-section-1 .u-icon-1 {
    height: 100px;
    width: 100px;
    background-image: none;
    color: rgb(255, 255, 255) !important;
    margin: 0 auto;
  }
  
  .u-section-1 .u-icon-2 {
    height: 100px;
    width: 100px;
    background-image: none;
    margin: 0 auto;
  }
  
  .u-section-1 .u-btn-1 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 26px auto 0;
    padding: 12px 73px 12px 72px;
  }
  
  .u-section-1 .u-btn-2 {
    border-style: none;
    font-size: 1rem;
    letter-spacing: 4px;
    font-weight: 700;
    margin: 26px auto 0;
    padding: 12px 73px 12px 72px;
  }
  
  @media (max-width: 1199px) {
    .u-section-1 .u-sheet-1 {
      min-height: 1103px;
    }
  
    .u-section-1 .u-text-1 {
      width: 727px;
    }
  
    .u-section-1 .u-text-2 {
      width: auto;
      margin-top: 40px;
    }
  
    .u-section-1 .u-list-1 {
      width: 990px;
      margin-right: -50px;
      margin-left: auto;
    }
    
    .u-section-1 .u-container-layout-1 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-1 .u-text-3 {
      margin-left: 0;
      margin-right: 0;
    }
  
    .u-section-1 .u-container-layout-2 {
      padding-left: 0;
      padding-right: 0;
    }
  
    .u-section-1 .u-icon-2 {
      color: rgb(255, 255, 255) !important;
    }
  
    .u-section-1 .u-text-4 {
      margin-left: 0;
      margin-right: 0;
    }
    .u-section-1 .u-repeater-1 {
        grid-template-columns: 33.333333333333336% 33.333333333333336% 33.333333333333336%;
        grid-auto-columns: 33.333333333333336%;
      }
      .u-section-1 .u-list-1 {
        margin-bottom: 171px;
      }
    
  }
  
  @media (max-width: 991px) {
    .u-section-1 .u-sheet-1 {
        margin-bottom: 177px;
      }
  
    .u-section-1 .u-text-1 {
      width: auto;
      font-size: 7.4rem;
    }
  
    .u-section-1 .u-list-1 {
      width: 720px;
      margin-right: 0;
      margin-bottom: 85px;
    }
    .u-section-1 .u-repeater-1 {
        grid-template-columns: 100%;
        grid-auto-columns: 50%;
      }
      .u-section-1 .u-list-1 {
        margin-bottom: 60px;
      }
    
  }
  
  @media (max-width: 767px) {  
    .u-section-1 .u-text-1 {
      font-size: 5.5rem;
      width: auto;
    }
  
    .u-section-1 .u-text-2 {
      margin-top: 55px;
    }
  
    .u-section-1 .u-list-1 {
      width: 540px;
      margin-top: 112px;
    }
  
    .u-section-1 .u-repeater-1 {
        grid-auto-columns: 100%;
      }
  }
  
  @media (max-width: 575px) {
    .u-section-1 .u-sheet-1 {
      min-height: 525px;
    }
  
    .u-section-1 .u-text-1 {
      font-size: 3.425rem;
    }
  
    .u-section-1 .u-text-2 {
      font-size: 2.75rem;
      margin-top: 58px;
    }
  
    .u-section-1 .u-list-1 {
      width: 340px;
      margin-top: 120px;
    }
  
    .u-section-1 .u-icon-1 {
      margin-left: 112px;
    }
  
    .u-section-1 .u-icon-2 {
      margin-left: 112px;
    }
    .u-section-1 .u-repeater-1 {
        grid-auto-columns: 100%;
      }
  }