.u-section-1 .u-sheet-1 {
  min-height: 682px;
}

.u-section-1 .u-text-1 {
  font-size: 8rem;
  font-weight: 700;
  animation-duration: 1000ms;
  background-image: none;
  margin: 174px auto 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  animation-duration: 1000ms;
  margin: 100px auto 174px;
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
  }
}
